# DATA_PROXY=https://www.volebnikalkulacka.cz
# API_PROXY=https://www.volebnikalkulacka.cz

# PUBLIC_URL=http://localhost:3000
VITE_PUBLIC_URL=${PUBLIC_URL}

# DATABASE_USERNAME=john-doe
# DATABASE_PASSWORD=HUVAkcJHcpffDZuSuQLmwN
# DATABASE_SERVER=john-doe-development-5467.7tc.cockroachlabs.cloud
# DATABASE_PORT=26257
# DATABASE_NAME=defaultdb
# DATABASE_URL_BASE=postgresql://${DATABASE_USERNAME}:${DATABASE_PASSWORD}@${DATABASE_SERVER}:${DATABASE_PORT}
# DATABASE_URL=postgresql://${DATABASE_URL_BASE}/${DATABASE_NAME}

# JWT_SECRET=3c9e5326e407ccbb02590e7e898c284d5657653d713e99d5a1f45fb3990742ec64323649b6b3ed8c32518fb2dd9b089b53ca53310edc82e453b4be7fea455e65
# JWT_EXPIRES_IN=7d
# OAUTH_CALLBACK_URL=http://localhost:3000
# OAUTH_GOOGLE_CLIENT_ID=654174856954-641np5cgtqaq4ak1883lda6l19e3cktc.apps.googleusercontent.com
# OAUTH_GOOGLE_CLIENT_SECRET=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
# OAUTH_FACEBOOK_CLIENT_ID=111410121486521501339
# OAUTH_FACEBOOK_CLIENT_SECRET=9dd31f3778b32e19dc7c376ae61e074f
