@import './reset.css';

html {
  height: 100%;
  font-size: 16px;
}

body {
  min-height: 100%;
  display: grid;

  /* Existing theme provider cannot change body styles */
  background-color: rgb(248, 247, 247);
}

a[href^='http']:after {
  font-weight: bold;
  content: ' ↗';
}
