@import '@/components/themes/DefaultTheme.scss';

*:deep() {
  // Override any of the default theme variables here

  // Color palette
  // -------------
  // Primary colors
  --palette-primary-10: 11, 53, 32;
  --palette-primary-30: 21, 107, 65;
  --palette-primary-50: 32, 160, 97;
  --palette-primary-70: 106, 192, 150;
  --palette-primary-90: 181, 223, 202;

  // Secondary colors
  --palette-secondary-10: 85, 30, 0;
  --palette-secondary-30: 170, 59, 0;
  --palette-secondary-50: 255, 89, 0;
  --palette-secondary-70: 255, 144, 85;
  --palette-secondary-90: 255, 200, 170;
}
