*:deep() {
  // Spacings
  // --------
  --spacing-tiny: 0.25rem;
  --spacing-extra-small: 0.5rem;
  --spacing-small: 1rem;
  --spacing-medium: 1.5rem;
  --spacing-large: 2rem;
  --spacing-extra-large: 3rem;

  // Radiuses
  // --------
  --radius-small: var(--spacing-small);
  --radius-medium: var(--spacing-medium);
  --radius-large: var(--spacing-large);

  // Color palette
  // -------------
  // Neutral colors
  --palette-neutral-00: 0, 0, 0;
  --palette-neutral-10: 29, 28, 28;
  --palette-neutral-30: 86, 82, 82;
  --palette-neutral-50: 173, 166, 166;
  --palette-neutral-70: 218, 216, 215;
  --palette-neutral-90: 248, 247, 247;
  --palette-neutral-100: 255, 255, 255;

  // Primary colors
  --palette-primary-10: 9, 18, 51;
  --palette-primary-30: 10, 62, 175;
  --palette-primary-50: 0, 112, 244;
  --palette-primary-70: 99, 185, 255;
  --palette-primary-90: 234, 247, 255;

  // Secondary colors
  --palette-secondary-10: 46, 10, 10;
  --palette-secondary-30: 130, 20, 20;
  --palette-secondary-50: 208, 70, 70;
  --palette-secondary-70: 246, 133, 133;
  --palette-secondary-90: 255, 244, 245;

  // Typography
  // ----------
  // Font families
  --typography-family-inter: 'Inter', sans-serif;
  --typography-family-radio-canada: 'Radio Canada', sans-serif;

  // Body text
  --typography-body-family: var(--typography-family-inter);
  // – extra small
  --typography-body-extra-small-size: 0.625rem;
  --typography-body-extra-small-line-height: 1.6;
  --typography-body-extra-small-letter-spacing: -0.04;
  // – small
  --typography-body-small-size: 0.812rem;
  --typography-body-small-line-height: 1.23;
  --typography-body-small-letter-spacing: default;
  // – medium
  --typography-body-medium-size: 1rem;
  --typography-body-medium-line-height: 1.5;
  --typography-body-medium-letter-spacing: default;
  // – large
  --typography-body-large-size: 1.25rem;
  --typography-body-large-line-height: 1.6;
  --typography-body-large-letter-spacing: -0.01em;

  // Title text
  --typography-title-family: var(--typography-family-radio-canada);
  // – extra small
  --typography-title-extra-small-size: 0.812rem;
  --typography-title-extra-small-line-height: 1.23;
  --typography-title-extra-small-letter-spacing: -0.07em;
  // – small
  --typography-title-small-size: 1.25rem;
  --typography-title-small-line-height: 1.2;
  --typography-title-small-letter-spacing: -0.04em;
  // – medium
  --typography-title-medium-size: 1.562rem;
  --typography-title-medium-line-height: 1.28;
  --typography-title-medium-letter-spacing: -0.05em;
  // – large
  --typography-title-large-size: 1.938rem;
  --typography-title-large-line-height: 1.03;
  --typography-title-large-letter-spacing: -0.06em;

  // Headline text
  --typography-headline-family: var(--typography-family-radio-canada);
  // – small
  --typography-headline-small-size: 2.438rem;
  --typography-headline-small-line-height: 1.03;
  --typography-headline-small-letter-spacing: -0.06em;
  // – medium
  --typography-headline-medium-size: 3.062rem;
  --typography-headline-medium-line-height: 1.14;
  --typography-headline-medium-letter-spacing: -0.07em;
  // – large
  --typography-headline-large-size: 3.812rem;
  --typography-headline-large-line-height: 1.05;
  --typography-headline-large-letter-spacing: -0.07em;

  // Button text
  --typography-button-family: var(--typography-family-radio-canada);
  // – small
  --typography-button-small-size: 0.625rem;
  --typography-button-small-line-height: 1.6;
  --typography-button-small-letter-spacing: 0.04em;
  // – medium
  --typography-button-medium-size: 0.812rem;
  --typography-button-medium-line-height: 1.85;
  --typography-button-medium-letter-spacing: 0.07em;

  // Label text
  --typography-label-family: var(--typography-family-inter);
  --typography-label-size: 0.625rem;
  --typography-label-line-height: 1.6;
  --typography-label-letter-spacing: 0.04em;
}
