@import '@/assets/breakpoints.scss';

*:deep() {
  // ↓↓↓↓↓↓↓↓↓↓↓↓↓↓
  // ↓ DEPRECATED ↓
  // ↓↓↓↓↓↓↓↓↓↓↓↓↓↓

  // Sizings
  // -------
  --sizing-small: 1rem; // ≈ 16 px
  --sizing-medium: 1.5rem; // ≈ 24 px
  --sizing-large: 2.5rem; // ≈ 40 px
  --sizing-extra-large: 3.5rem; // ≈ 56 px

  // Spacings
  // --------
  --spacing-pico: 0.0625em;
  --spacing-nano: 0.125rem;
  --spacing-tiny: 0.25rem;
  --spacing-2x-small: 0.375rem;
  --spacing-extra-small: 0.5rem;
  --spacing-smaller: 0.75rem;
  --spacing-small: 1rem;
  --spacing-medium: 1.5rem;
  --spacing-large: 2rem;
  --spacing-extra-large: 2.5rem;
  --spacing-huge: 3rem;
  --spacing-extra-huge: 3.5rem;

  // Responsive spacings
  // -------------------
  // – extra small
  --responsive-spacing-extra-small: var(--spacing-extra-small);
  // – small
  --responsive-spacing-small: var(--spacing-small);
  // – medium
  --responsive-spacing-medium: var(--spacing-medium);
  @media (max-width: calc($breakpoint-extra-small - 1px)) {
    --responsive-spacing-medium: var(--spacing-small);
  }
  // – large
  --responsive-spacing-large: var(--spacing-large);
  @media (max-width: calc($breakpoint-extra-small - 1px)) {
    --responsive-spacing-large: var(--spacing-extra-small);
  }
  @media (min-width: $breakpoint-extra-small) and (max-width: calc($breakpoint-small - 1px)) {
    --responsive-spacing-large: var(--spacing-small);
  }
  // – 2 × large
  --responsive-spacing-2-large: calc(2 * var(--spacing-large));
  @media (max-width: calc($breakpoint-extra-small - 1px)) {
    --responsive-spacing-2-large: var(--spacing-small);
  }
  @media (min-width: $breakpoint-extra-small) and (max-width: calc($breakpoint-small - 1px)) {
    --responsive-spacing-2-large: calc(2 * var(--spacing-small));
  }

  // Radiuses
  // --------
  --radius-2x-small: var(--spacing-2x-small);
  --radius-extra-small: var(--spacing-extra-small);
  --radius-small: var(--spacing-small);
  --radius-medium: var(--spacing-medium);
  --radius-large: var(--spacing-large);

  // ↑↑↑↑↑↑↑↑↑↑↑↑↑↑
  // ↑ DEPRECATED ↑
  // ↑↑↑↑↑↑↑↑↑↑↑↑↑↑

  // Sizing & spacing
  // ----------------

  // - base units
  // TODO
  --base-smaller: 0.75rem; // ~ 12 px
  --base-small: 1rem; // ~ 16 px
  --base-medium: 1.5rem; // ~ 24 px
  --base-large: 2.5rem; // ~ 40 px
  --base-extra-large: 3.5rem; // ~ 56 px

  // - semantic sizings
  //   - border
  //     1. thin
  --border-thin: calc(var(--base-small) / 16); // ~ 1 px
  --responsive-border-thin: var(--border-thin);
  //     2. medium
  --border-medium: calc(var(--base-small) / 8); // ~ 2 px
  --responsive-border-medium: var(--border-medium);
  //     3. thick
  --border-thick: calc(var(--base-small) / 4); // ~ 4 px
  --responsive-border-thick: var(--border-thick);
  //   - radius
  //     1. small
  --radius-small: calc(var(--base-small) / 2); // ~ 8 px
  --responsive-radius-small: var(--radius-extra-small);
  //     2. medium
  --radius-medium: var(--base-small); // ~ 16 px
  --responsive-radius-medium: var(--radius-medium);
  //     3. large
  --radius-large: calc(var(--base-small) * 2); // ~ 32 px
  --responsive-radius-large: var(--radius-large);

  // - semantic spacings
  //   - gap
  //     1. small
  --gap-small: calc(var(--base-small) / 2); // ~ 8 px
  --responsive-gap-small: var(--gap-extra-small);
  //     2. medium
  --gap-medium: var(--base-small); // ~ 16 px
  --responsive-gap-medium: var(--gap-medium);
  @media (max-width: calc($breakpoint-extra-small - 1px)) {
    --responsive-gap-medium: var(--gap-small);
  }
  //     3. large
  --gap-large: calc(var(--base-small) * 2); // ~ 32 px
  --responsive-gap-large: var(--gap-large);
  @media (max-width: calc($breakpoint-extra-small - 1px)) {
    --responsive-gap-large: var(--gap-small);
  }
  //     4. extra large
  --gap-extra-large: calc(var(--base-small) * 4); // ~ 64 px
  --responsive-gap-extra-large: var(--gap-extra-large);
  @media (max-width: calc($breakpoint-extra-small - 1px)) {
    --responsive-gap-extra-large: var(--gap-small);
  }

  // Color palette
  // -------------
  // Neutral colors
  --palette-neutral-00: 0, 0, 0;
  --palette-neutral-10: 29, 28, 28;
  --palette-neutral-30: 86, 82, 82;
  --palette-neutral-40: 149, 149, 149;
  --palette-neutral-50: 173, 166, 166;
  --palette-neutral-60: 189, 189, 189;
  --palette-neutral-70: 218, 216, 215;
  --palette-neutral-90: 248, 247, 247;
  --palette-neutral-100: 255, 255, 255;

  // Primary colors
  --palette-primary-10: 9, 18, 51;
  --palette-primary-30: 10, 62, 175;
  --palette-primary-50: 0, 112, 244;
  --palette-primary-70: 99, 185, 255;
  --palette-primary-90: 234, 247, 255;

  // Secondary colors
  --palette-secondary-10: 46, 10, 10;
  --palette-secondary-30: 130, 20, 20;
  --palette-secondary-50: 208, 70, 70;
  --palette-secondary-70: 246, 133, 133;
  --palette-secondary-90: 255, 244, 245;

  // Direct colors
  --palette-yellow: 242, 184, 7;
  --palette-green-50: 33, 150, 83;
  --palette-green-70: 163, 223, 188;
  --palette-green-90: 216, 242, 227;
  --palette-red-50: 253, 36, 62;
  --palette-red-70: 246, 133, 133;

  // Transparency
  --transparency-5: 0.05;
  --transparency-10: 0.1;
  --transparency-20: 0.2;
  --transparency-50: 0.5;
  --transparency-60: 0.6;
  --transparency-80: 0.8;

  // Semantic colors
  // ---------------
  // Neutral colors
  // – foreground
  --color-neutral-fg: var(--palette-neutral-30);
  --color-neutral-fg-strong: var(--palette-neutral-10);
  --color-neutral-fg-muted: var(--palette-neutral-50);
  --color-neutral-fg-disabled: var(--palette-neutral-70);
  --color-neutral-fg-hover: var(--palette-neutral-50);
  --color-neutral-fg-active: var(--palette-neutral-00);
  --color-neutral-fg-inverse: var(--palette-neutral-100);
  // – background
  --color-neutral-bg: var(--palette-neutral-90);
  --color-neutral-bg-strong: var(--palette-neutral-10); // not in Figma
  --color-neutral-bg-muted: var(--palette-neutral-100); // not in Figma
  --color-neutral-bg-disabled: var(--palette-neutral-70);
  --color-neutral-bg-hover: var(--palette-neutral-30);
  --color-neutral-bg-strong-hover: var(--palette-neutral-30);
  --color-neutral-bg-active: var(--palette-neutral-10);
  --color-neutral-bg-strong-active: var(--palette-neutral-10);
  --color-neutral-bg-container: var(--palette-neutral-100);
  --color-neutral-bg-backdrop-active: var(--palette-neutral-70),
    var(--transparency-60);
  --color-neutral-bg-backdrop-hover: var(--palette-neutral-70),
    var(--transparency-20);
  // – border
  --color-neutral-border: var(--palette-neutral-70);
  --color-neutral-border-strong: var(--palette-neutral-30);
  --color-neutral-border-disabled: var(--palette-neutral-90);
  --color-neutral-border-hover: var(--palette-neutral-50);
  --color-neutral-border-active: var(--palette-neutral-10);
  // – shadow
  --color-neutral-shadow: var(--palette-neutral-70);

  // Primary colors
  // – foreground
  --color-primary-fg: var(--palette-primary-50);
  --color-primary-fg-strong: var(--palette-primary-10);
  --color-primary-fg-muted: var(--palette-primary-70); // not in Figma
  --color-primary-fg-disabled: var(--palette-neutral-70);
  --color-primary-fg-hover: var(--palette-primary-30);
  --color-primary-fg-active: var(--palette-primary-00); // not in Figma
  --color-primary-fg-inverse: var(--palette-neutral-100);
  // – background
  --color-primary-bg: var(--palette-primary-90);
  --color-primary-bg-strong: var(--palette-primary-50);
  --color-primary-bg-muted: var(--palette-neutral-90); // not in Figma
  --color-primary-bg-disabled: var(--palette-neutral-70);
  --color-primary-bg-hover: var(--palette-primary-30);
  --color-primary-bg-strong-hover: var(--palette-primary-30);
  --color-primary-bg-active: var(--palette-primary-10);
  --color-primary-bg-strong-active: var(--palette-primary-10);
  // – border
  --color-primary-border: var(--palette-primary-70);
  --color-primary-border-strong: var(--palette-primary-50);
  --color-primary-border-disabled: var(--palette-neutral-90);
  --color-primary-border-hover: var(--palette-primary-30);
  --color-primary-border-active: var(--palette-primary-10); // not in Figma

  // Secondary colors
  // – foreground
  --color-secondary-fg: var(--palette-secondary-50);
  --color-secondary-fg-strong: var(--palette-secondary-30);
  --color-secondary-fg-muted: var(--palette-secondary-70); // not in Figma
  --color-secondary-fg-disabled: var(--palette-neutral-70);
  --color-secondary-fg-hover: var(--palette-secondary-30);
  --color-secondary-fg-active: var(--palette-secondary-00); // not in Figma
  --color-secondary-fg-inverse: var(--palette-neutral-100);
  // – background
  --color-secondary-bg: var(--palette-secondary-90);
  --color-secondary-bg-strong: var(--palette-secondary-50);
  --color-secondary-bg-muted: var(--palette-neutral-90); // not in Figma
  --color-secondary-bg-disabled: var(--palette-neutral-70); // not in Figma
  --color-secondary-bg-hover: var(--palette-secondary-30);
  --color-secondary-bg-strong-hover: var(--palette-secondary-30);
  --color-secondary-bg-active: var(--palette-secondary-10); // not in Figma
  --color-secondary-bg-strong-active: var(--palette-secondary-10);
  // – border
  --color-secondary-border: var(--palette-secondary-70);
  --color-secondary-border-strong: var(--palette-secondary-50);
  --color-secondary-border-disabled: var(--palette-neutral-90); // not in Figma
  --color-secondary-border-hover: var(--palette-primary-30);
  --color-secondary-border-active: var(--palette-primary-10); // not in Figma

  // Typography
  // ----------
  // Font families
  --typography-family-inter: 'Inter', sans-serif;
  --typography-family-radio-canada: 'Radio Canada', sans-serif;

  // Body text
  --typography-body-family: var(--typography-family-inter);
  // – extra small
  --typography-body-extra-small-size: 0.625rem;
  --typography-body-extra-small-line-height: 1.6;
  --typography-body-extra-small-letter-spacing: -0.04;
  // – small
  --typography-body-small-size: 0.812rem;
  --typography-body-small-line-height: 1.23;
  --typography-body-small-letter-spacing: default;
  // – medium
  --typography-body-medium-size: 1rem;
  --typography-body-medium-line-height: 1.5;
  --typography-body-medium-letter-spacing: default;
  // – large
  --typography-body-large-size: 1.25rem;
  --typography-body-large-line-height: 1.6;
  --typography-body-large-letter-spacing: -0.01em;

  // Title text
  --typography-title-family: var(--typography-family-radio-canada);
  // – extra small
  --typography-title-extra-small-size: 0.812rem;
  --typography-title-extra-small-line-height: 1.23;
  --typography-title-extra-small-letter-spacing: -0.07em;
  // – smaller small
  --typography-title-smaller-small-size: 1rem;
  --typography-title-smaller-small-line-height: 1.5;
  // – small
  --typography-title-small-size: 1.25rem;
  --typography-title-small-line-height: 1.2;
  --typography-title-small-letter-spacing: -0.04em;
  // – medium
  --typography-title-medium-size: 1.562rem;
  --typography-title-medium-line-height: 1.28;
  --typography-title-medium-letter-spacing: -0.05em;
  // – large
  --typography-title-large-size: 1.938rem;
  --typography-title-large-line-height: 1.03;
  --typography-title-large-letter-spacing: -0.06em;

  // Headline text
  --typography-headline-family: var(--typography-family-radio-canada);
  // - extra small
  --typography-headline-extra-small-size: 1.562rem;
  --typography-headline-extra-small-line-height: 2;
  --typography-headline-extra-small-letter-spacing: -0.05em;
  // – small
  --typography-headline-small-size: 2.438rem;
  --typography-headline-small-line-height: 1.03;
  --typography-headline-small-letter-spacing: -0.06em;
  // – medium
  --typography-headline-medium-size: 3.062rem;
  --typography-headline-medium-line-height: 1.14;
  --typography-headline-medium-letter-spacing: -0.07em;
  // – large
  --typography-headline-large-size: 3.812rem;
  --typography-headline-large-line-height: 1.05;
  --typography-headline-large-letter-spacing: -0.07em;

  // Button text
  --typography-button-family: var(--typography-family-radio-canada);
  // – small
  --typography-button-small-size: 0.625rem;
  --typography-button-small-line-height: 1.6;
  --typography-button-small-letter-spacing: 0.04em;
  // – medium
  --typography-button-medium-size: 0.812rem;
  --typography-button-medium-line-height: 1.85;
  --typography-button-medium-letter-spacing: 0.07em;

  // Label text
  --typography-label-family: var(--typography-family-inter);
  --typography-label-size: 0.625rem;
  --typography-label-line-height: 1.6;
  --typography-label-letter-spacing: 0.04em;

  // Components
  // ----------
  // Avatars
  --avatar-size-small: 2rem;
  --avatar-size-medium: 2.5rem;
  --avatar-size-large: 3.5rem;

  // TODO: set correct breakpoint
  @media (min-width: 700px) {
    --avatar-size-small: 3rem;
    --avatar-size-medium: 3rem;
    --avatar-size-large: 4.5rem;
  }

  // Match order
  --match-order-size-small: 1.5rem;
  --match-order-size-medium: 2rem;
  --match-order-size-large: 2rem;

  --match-order-fs-small: 0.8125rem;
  --match-order-fs-medium: 0.8125rem;
  --match-order-fs-large: 0.8125rem;

  --match-order-fw: 400;

  // TODO: set correct breakpoint
  @media (min-width: 700px) {
    --match-order-size-small: 2rem;
    --match-order-size-medium: 2.25rem;
    --match-order-size-large: 2.75rem;

    --match-order-fs-small: 1rem;
    --match-order-fs-medium: 1.25rem;
    --match-order-fs-large: 1.25rem;

    --match-order-fw: 700;
  }

  // Accordion
  --accordion-elements-spacing: 0.5rem;
  --accordion-title-height: 1.5rem;
  --accordion-title-fs: 0.8125rem;
  --accordion-title-ls: 0.06em;
  --accordion-content-spacing: 0.625rem;

  // TODO: set correct breakpoint
  @media (min-width: 700px) {
    --accordion-elements-spacing: 0.75rem;
    --accordion-title-height: 2.5rem;
    --accordion-title-fs: 1rem;
    --accordion-content-spacing: 0.5rem;
  }
}
