@import '@/components/themes/DefaultTheme.scss';

*:deep() {
  // Override any of the default theme variables here

  // Color palette
  // -------------
  // Primary colors
  --palette-primary-10: 46, 153, 77; /* Darker */
  --palette-primary-30: 58, 168, 88; /* Darker */
  --palette-primary-50: 70, 184, 99; /* Original color */
  --palette-primary-70: 82, 199, 110; /* Lighter */
  --palette-primary-90: 94, 215, 121; /* Lightest */

  // Secondary colors
  --palette-secondary-10: 143, 0, 23; /* Darker */
  --palette-secondary-30: 167, 0, 27; /* Darker */
  --palette-secondary-50: 191, 0, 31; /* Original color */
  --palette-secondary-70: 215, 0, 35; /* Lighter */
  --palette-secondary-90: 239, 0, 39; /* Lightest */

  --color-neutral-bg: var(--palette-secondary-70);
}
