@import './DefaultTheme.scss';

*:deep() {
  // Override any of the default theme variables here

  // Color palette
  // -------------
  // Primary colors
  --palette-primary-10: 9, 18, 51;
  --palette-primary-30: 10, 62, 175;
  --palette-primary-50: 0, 112, 244;
  --palette-primary-70: 99, 185, 255;
  --palette-primary-90: 234, 247, 255;

  // Secondary colors
  --palette-secondary-10: 46, 10, 10;
  --palette-secondary-30: 130, 20, 20;
  --palette-secondary-50: 208, 70, 70;
  --palette-secondary-70: 246, 133, 133;
  --palette-secondary-90: 255, 244, 245;
}
