@import './DefaultTheme.scss';

*:deep() {
  // Override any of the default theme variables here

  // Color palette
  // -------------
  // Primary colors
  --palette-primary-10: 31, 27, 41;
  --palette-primary-30: 50, 48, 82;
  --palette-primary-50: 64, 69, 110;
  --palette-primary-70: 90, 101, 151;
  --palette-primary-90: 132, 155, 210;


  // Secondary colors
  --palette-secondary-10: 9, 18, 51;
  --palette-secondary-30: 112, 65, 65;
  --palette-secondary-50: 160, 93, 93;
  --palette-secondary-70: 240, 200, 200;
  --palette-secondary-90: 252, 236, 236;
  
  --color-neutral-bg: var(--palette-secondary-70);
}
